table, td, th{
    /*solid, pixel */
    border : solid 3px white;
    border-collapse: collapse; /*Juntas as bordas que se encontram para se conectem*/
}

td, th{
    width: 150px;
    text-align: center;
}

th{
    background-color: rgb(91, 208, 208);
    font-size: 1.5rem;
    font-weight: 100;
}

td{
    background-color: rgb(208, 208, 208);
    font-size: 1.2rem;
}